 #title {
   background-color: #ff4c61;
   color: #fff;
 }

 h1 {
   font-family: 'Montserrat', sans-serif;
   font-size: 9rem;
 }

 h2 {
   font-family: "Montserrat-Bold"
     font-size: 5rem;
   line-height: 1.5;
 }

 .container-fluid {
   padding: 5% 15% 7%;
   text-align: center;
 }

 .navbar-brand {
   font-family: 'Happy Monkey', cursive;
   display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 3rem;
    line-height: inherit;
    white-space: nowrap;
   font-weight: bold;
 }

 .nav-item {
   padding: 0 18px;
 }

 .nav-link {
   font-size: 1.2rem;
   font-family: "Montserrat-Light";
 }

 .navbar {
   margin: 0% 3% 5% 0;
   text-align: center;
 }

 .down-btn {
   margin: 5% 5% 7% 0;
 }

 .title-img {
   width: 25%;
   transform: rotate(25deg);
   position: absolute;
 }

 #features {
   padding: 7% 15%;
   background-color: #fff;
   position: relative;
   z-index: 1;
 }

 .feature-box {
   text-align: center;
   padding: 4.5%;
 }

 h3 {
   font-family: "Montserrat-bold";
   font-size: 2rem;
   line-height: 1.5;
 }
 .cta-head{
   font-family: "Montserrat-Black";
   font-size:3.5rem;
   text-align: center;
 }
 p {
   color: #8f8f8f;
 }

 .icon {
   color: #ef8172;
   margin-bottom: 1rem;
 }

 .icon:hover {
   color: #ff4c61;
 }

 #testimonials {
   padding: 7% 15%;
   text-align: center;
   background-color: #ef8172;
   color: #fff;
 }

 .Dog-pic {
   width: 10%;
   border-radius: 15px;
   margin: 20px;
 }

 #press {
   background-color: #ef8172;
   text-align: center;
   padding-bottom: 3%;
 }
 #footer{
   padding: 5% 15%;
   text-align: center;
 }
 .press-logo {
   width: -20%;
   margin: 20px 20px 50px;
 }
 #cta{
   background-color: #ff4c61;
   color: #fff;
   padding: 7% 15%;
   text-align: center;
 }
 .carousel-item {
   padding: 7% 15%;
 }
 .card-lab{
   margin:top: 10%;
 }
 #pricing {
   padding: 100px;
   text-align: center;
 }

 @media (max-width: 1028px) {
   #title {
     text-align: center;
   }

   .title-img {
     position: relative;
     transform: rotate(0);
   }
 }

 .price-col {
   padding: 2% 2%;
 }
